<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>DataBacker</title>
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css" type="text/css">
  </head>
  <body ng-app="app" ng-controller="MainCtrl">

    <div class="container">
      <h1>DataBacker</h1>
      <!--<button ng-click="logout()">Logout</button>-->
      <ng-view></ng-view>
    </div>


    <script src="/components/angular/angular.js"></script>
    <script src="/components/angular-route/angular-route.js"></script>

    <script src="/app.js"></script>

    <script src="/services/authenticationInterceptor.js"></script>

    <script src="/controllers/main.js"></script>
    <script src="/controllers/home.js"></script>
    <script src="/controllers/login.js"></script>
  </body>
</html>